/* CSS  tabulka */
body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 800px;
    height: 20em;
    border-collapse: collapse;
    border: 2px solid blueviolet;
    background-color: azure;
    margin: 0 auto;
}
h3 {
    text-align: center;
}
caption {
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
}
td {
    border: 1px solid green;
}
th {
    border: 1px solid white;
}
thead {
    background-color: blueviolet;
    color: white;
    border: 2px solid blueviolet;
}

hr {
    border: 1px solid blueviolet;
}
th.bila {
    border-left: 2px solid  white;
}
.odsazeni {
    padding-left: 1em;
    width: 100px;
}