/* Jednoúrovňové seznamy */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.obal {
    width: 80%;
    margin: 0 auto;
    border: 2px solid blue;
    padding: 1em;
    background-color: azure;
}
ul{
    list-style-type: disc;
    list-style-position: outside;
    line-height: 1.5rem;
    text-align: left;
    color: aqua;
    margin-left: 0rem;
}
li.cervena{
    color: red;
}
ol{
    list-style-type: decimal;
    list-style-position: outside;
    line-height: 1.5em;
    text-align: justify;
}
ul.seznam {
    list-style-image: url(../images/activity.svg);
    margin-left: 2em;
    padding-left: 1em;
}
ul.navigace {
    list-style-type: none;
    margin-right: -2rem;
}