/*Nové přístupy k orzvrhování jazykem CSS - str. 281*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.obal {
    width: 80%;
    height: 500px;
    background-color: bisque;
    border: 2px solid brown;
    padding: 1rem;
    margin: 0 auto;
}

h2,
p {
    margin-bottom: 0.5rem;
}
br{
    position: relative;
    clear: both;
}
hr {
    margin-bottom: 1rem;
    border-bottom: 1px solid brown;
    clear: both;
    margin-top: 1rem;
}

.blok {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 1rem 0 0 1rem;
}

.b1 {
    float: left;
    background-color: crimson;
    color: white;
    margin-right: 4rem;
    border-radius: 50px;
}

.b2 {
    float: left;
    background-color: aqua;
    margin-right: 4rem;
    border-radius: 60px 40px 20px 10px;
}

.b3 {
    float: left;
    background-color: yellow;
    margin-right: 4rem;
    border-radius: 50%;
    text-align: center;
}

.b4 {
    float: left;
    background-color: yellowgreen;
    text-align: center;
    border-radius: 50% 0 50% 0;
}
h1{
    font-size: 300%;
    text-shadow: 5px 5px 5px gray;
}