/*Nové přístupy k orzvrhování jazykem CSS - str. 281*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(/images/animals-beaver.png);
    /*
    background-repeat: no-repeat;
    background-position: 64px 64px;
    background-size: 50px;
    */
}

.obal {
    width: 80%;
    height: 1200px;
    background-color: bisque;
    border: 2px solid brown;
    padding: 1rem;
    margin: 0 auto;
}

h2,
p {
    margin-bottom: 0.5rem;
}

br {
    position: relative;
    clear: both;
}

hr {
    margin-bottom: 1rem;
    border-bottom: 1px solid brown;
    clear: both;
    margin-top: 1rem;
}

.blok {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 1rem 0 0 1rem;
}

.b1 {
    float: left;
    background-color: crimson;
    color: white;
    margin-right: 4rem;
    border-radius: 50px;
}

.b2 {
    float: left;
    background-color: aqua;
    margin-right: 4rem;
    border-radius: 60px 40px 20px 10px;
}

.b3 {
    float: left;
    background-color: yellow;
    margin-right: 4rem;
    border-radius: 50%;
    text-align: center;
}

.b4 {
    float: left;
    background-color: yellowgreen;
    text-align: center;
    border-radius: 50% 0 50% 0;
}

h1#nad1 {
    font-size: 300%;
    text-shadow: 5px 5px 5px gray;
}

h1#nad2 {
    font-size: 300%;
    text-shadow: 5px 5px 10px salmon, -5px -5px 10px salmon, -5px 5px 10px salmon, 5px -5px 10px salmon;
}

.b5 {
    float: left;
    margin-right: 4rem;
    box-shadow: 10px 10px 10px grey;
}

.b6 {
    float: left;
    margin-right: 4rem;
    box-shadow: inset 10px 10px 10px grey;
}

.b7 {
    float: left;
    margin-right: 4rem;
    box-shadow: inset 10px 10px 10px whitesmoke, inset -10px -10px 10px black;
}

.b8 {
    float: left;
    margin-right: 4rem;
    box-shadow: inset 10px 10px 10px black, inset -10px -10px 10px black, inset -10px 10px 20px red, inset 10px -10px 20px red;
}

.nocni-obloha {
    background-color: #333;
    background-image: url(/images/ufo.png), url(/images/hvezdy.png), url(/images/hvezdy.png), url(/images/obloha.png);
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
    background-position: 50% 102%, 100% -150px, 0 -150px;
    height: 300px;
    width: 75%;
    margin: 0 auto;
    padding-top: 36px;
}
.nocni-obloha h1{
    color: white;
    text-align: center;
}